<html>
	<body>
		<style>
			#todos {
				text-align:	center;
				border:	1px solid black;
			}
			div#botton {
				text-align:	right;
				width: 200px;
			}
			div#app {
				text-align:	center;
				border:	1px solid black;
				width: 200px;
			}
		</style>
		<script src="public/JSTemplate/Template.js"></script>
		<script type="text/jstmpl" id="todo">
			<tr id="todo">
				<td><input type="checkbox"<% if(checked) { %> checked="checked"<% } %>></td>
				<td><input value="<%= text %>"></td>
				<td><a href="javascript:void(0)" onclick="this.parentElement.parentElement.removeChild(this.parentElement)">x</a></td>
			</tr>
		</script>
		<div id=app>
			<form name="todos">
				<table id="todos">
					Todos:<br />
				</table>
			</form>
			<div id="botton">
				<a class="button" href="javascript:void(0)" onclick="Template.renderOn('todo', {checked: false, text: ''}, 'APPEND todos')">+</a>
			</div>
		</div>
	</body>
</html>
